@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0; padding: 0;
    border: none; outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: all .2s linear;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}

h1 {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 300;
    margin-bottom: 2rem;
}